<%= label_tag 'activity_reminder_setting[reminders]', 'Yes' %>
<%= radio_button_tag 'activity_reminder_setting[reminders]', true, !form.object.empty?, 'ng-model' => 'vm.reminders', 'ng-value' => true %>
<%= label_tag 'activity_reminder_setting[reminders]', 'No' %>
<%= radio_button_tag 'activity_reminder_setting[reminders]', false, form.object.empty?, 'ng-model' => 'vm.reminders', 'ng-value' => false %>

<div ng-show="vm.reminders">
  <%= form.input :days,  as: :check_boxes, collection: ActivityReminderSetting.values_for_days, checked: activity_reminder.days %>
  <%= form.input :contact_methods,  as: :check_boxes, collection: ActivityReminderSetting.values_for_contact_methods, checked: activity_reminder.contact_methods %>
  <%= form.input :times,  as: :check_boxes, collection: ActivityReminderSetting.values_for_times, checked: activity_reminder.times %>
  <%= form.input :user_activity_id,  as: :hidden, input_html: { value: params[:user_activity_id] } %>
</div>
