<div class="cp-lead-in yellow-teal tall">
  <div class="left"></div>
  <div class="right"></div>

  <div style="background: url(/assets/azul7/user-content/lead-in/tall-yellow-teal.png), url(http://aarp.org<%= @article.background_image_large %>); background-size: cover, cover; background-repeat: no-repeat; max-width: 940px; margin: 0 auto;">
    <section>
      <div class="copy-wrap">
        <div class="vertical-content">
          <h2><%= @article.title %></h2>
          <p>By <%= @article.author %> | <%= @article.date %></p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="cp-pillar-filter">
  <section>
    <span class="pillar eating-right">Eating Right</span>
    <span class="pillar being-social">Being Social</span>
  </section>
</div>

<div class="cp-content-drawer">
  <section>
    <% @article.content.each do |segment| %>
      <%= raw(@article.text(segment)) %>
      <% if @article.image?(segment) %>
        <figure>
          <img src="http://aarp.org<%= @article.image(segment) %>">
          <figcaption><%= @article.image_caption(segment) %></figcaption>
        </figure>
      <% end %>
    <% end %>
  </section>
</div>

