<h2>Saved Activities</h2>

<p>Activities (<%= @user_activities.count %> of 6)</p>

<% @user_activities.each do |user_activity| %>
  <% activity = user_activity.activity %>
  <h2><%= link_to "Activity: #{activity.title}", activity_path(activity) %></h2>
  <p>Pillars: <%= activity.pillar_names %></p>
  <p><%= activity.points %> pts</p>
  <p><%= activity.recommended_effort_time %></p>
  <p><%= link_to 'Settings', edit_my_activity_reminder_settings_path(activity_id: user_activity.activity.id, user_activity_id: user_activity.id ) %> | <%= link_to 'Archive', '#' %></p>
  <p>May 1 - May 31: Track When You Did This</p>
  <p><%= link_to 'I Did it Today', '#', class: 'btn' %></p>
  <p>M T W TH F Sa Su</p>
  <p><%= link_to 'Full Tracker Progress and Details', '#' %></p>
<% end %>

<h2>Find an activity to work on!</h2>
<p><%= link_to 'Explore Activities', activities_path %></p>
