<h2>My Staying Sharp</h2>

<div>
  <ul>
    <li><%= link_to 'Activities and Stats', my_staying_sharp_path(tab: :activities_and_stats) %></li>
    <li><%= link_to 'Saved Recipes', my_staying_sharp_path(tab: :saved_recipes) %></li>
    <li><%= link_to 'Saved Articles', my_staying_sharp_path(tab: :saved_articles) %></li>
    <li><%= link_to 'Assessment Results', my_staying_sharp_path(tab: :assessment_results) %></li>
  </ul>

  <%# TODO: will probably be done via Angular routes %>
  <%= render partial: "me/staying_sharp/#{params[:tab] || :activities_and_stats}" %>
</div>
