<div class="cp-lead-in navy-red tall">
  <div class="left"></div>
  <div class="right"></div>
  <div class="cp-lead-in-bg" style="background: url(<%= asset_path("azul7/user-content/lead-in/tall-navy-red.png") %>), url(<%= asset_path("azul7/user-content/example-couple.png") %>);">
    <section>
      <div class="copy-wrap">
        <div class="vertical-content">
          <h2>Explore: Activities</h2>
          <p>Lorem ipsum dolor sit amet, nulla ipsum pede donec volutpat aenean convallis.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render partial: 'application/pillars_filter' %>

<div class="cp-call-out plain plain-link">
  <section>
    <button class="close close-call-out-plain-button"><span aria-hidden="true">&times;</span></button>
    <div class="content">
      <h3>Staying Sharp Activities</h3>
      <p id="explanation"><%= flash[:explanation] %></p>
      <a href="#">Ok, got it</a>
    </div>
  </section>
</div>

<% @activities.each_slice(3) do |batch| %>
<div class="card-holder">
  <% batch.each do |activity| %>
    <div class="cp-card small-card" style="background-image: url(<%= asset_path("azul7/user-content/cards/card-small.jpg") %>">
      <a href="#link-to-card-content"></a>
      <div class="color-fill"></div>
      <section>
        <div class="info-block">
          <header>
            <h5>Activity</h5>
            <span><span><%= activity.points %></span> Points</span>
          </header>
          <article>
            <h4><%= link_to activity.title, activity_path(activity) %></h4>
            <div class="effort">
              <span><%= activity.recommended_effort_time %></span>
            </div>
            <div class="proof">
              <span class="icon-recommend"></span>
              <span>85%</span>
            </div>
          </article>
          <footer>
            <div class="pillars">
              <% activity.pillar_names.each do |pillar_name| %>
                <span class="pillar <%= pillar_name.parameterize %>"><%= pillar_name %></span>
              <% end %>
            </div>
          </footer>
        </div>
      </section>
    </div>
  <% end %>
</div>
<% end %>

<%= paginate @activities %>
