<div class="cp-lead-in navy-red tall">
  <div class="left"></div>
  <div class="right"></div>
  <div class="cp-lead-in-bg" style="background: url(<%= asset_path("azul7/user-content/lead-in/tall-navy-red.png") %>), url(<%= asset_path("azul7/user-content/example-couple.png") %>);">
    <section>
      <div class="copy-wrap">
        <div class="vertical-content">
          <h2>Explore: Activities</h2>
          <p>Lorem ipsum dolor sit amet, nulla ipsum pede donec volutpat aenean convallis.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render partial: 'application/pillars_filter' %>

<div class="cp-call-out plain plain-link">
  <section>
    <button class="close close-call-out-plain-button"><span aria-hidden="true">&times;</span></button>
    <div class="content">
      <h3>Staying Sharp Activities</h3>
      <p id="explanation"><%= flash[:explanation] %></p>
      <a href="#">Ok, got it</a>
    </div>
  </section>
</div>

<% @collection.each_slice(3) do |slice| %>
  <div class="card-holder">
    <%= render partial: 'card', collection: slice %>
  </div>
<% end %>

<%= paginate @collection %>
