<div style="background-image: url(<%= asset_path("azul7/user-content/cards/card-lg.jpg") %>)" class="cp-lead-in-detail">
  <section>
    <div class="container">
      <div class="info-block">
        <header>
          <h5>Activity</h5>
          <span><span><%= @activity.points %></span> Points</span>
        </header>
        <article>
          <h2 class="ellipsis">
            <%= link_to "#{@activity.title}", "#link-to-card-content" %>
          </h2>
        </article>
        <div class="pillars">
          <% @activity.pillar_names.each do |pillar_name| %>
            <span class="pillar <%= pillar_name.parameterize %>"><%= pillar_name %></span>
          <% end %>
        </div>
      </div>
      <footer>
        <div class="effort"><span>Recommended Effort: <%= @activity.recommended_effort_time %> / <%= @activity.recommended_effort_frequency %></span></div>
        <div class="action-items">
          <%= render partial: 'user_activities/save_button', activity: @activity %>
        </div>
      </footer>
    </div>
  </section>
</div>

<div class="cp-content-drawer">
  <section>
    <a data-toggle="collapse" href="#collapseDrawer" class="toggleCaret"><span class="change-text">Show</span> Challenge Details<span class="caret caret-down"></span></a>
    <section class="collapse" id="collapseDrawer">
      <%= @activity.payload['description'].html_safe %>
      <h4>Want to dig deeper on this topic?</h4>
      <p>If you want to dig a little deeper, the full article can be found in the <a href="#linkToArticle">link to article</a>.</p>
      <footer>
        <%= render partial: 'user_activities/print_button' %>
      </footer>
    </section>
  <hr>
  </section>
</div>

<div class="cp-content-group">
  <section>
    <header>
      <h3>Ways to Work on This</h3>
      <span class="effort">Recommended Effort: <%= @activity.recommended_effort_time %> / <%= @activity.recommended_effort_frequency %></span>
      <hr>
    </header>
    <article>
      <%= @activity.payload['how_to'].html_safe %>
    </article>
    <footer>
      <hr>
      <h4>Interested in working on this activity?</h4>
      <%= render partial: 'user_activities/save_button', activity: @activity %>
    </footer>
  </section>
</div>
<div class="cp-print-button">
  <section>
    <%= render partial: 'user_activities/print_button' %>
  </section>
</div>

<%= render partial: 'application/comments' %>
