<div class="cp-card small-card" style="background-image: url(<%= asset_path("azul7/user-content/cards/card-small.jpg") %>">
  <a href="#link-to-card-content"></a>
  <div class="color-fill"></div>
  <section>
    <div class="info-block">
      <header>
        <h5><%= card.card_title %></h5>
        <% if card.upper_right %>
          <span><span><%= card.upper_right %></span> Points</span>
        <% end %>
      </header>
      <article>
        <h4><%= link_to card.card_title, card.resource_path %></h4>
        <div class="effort">
          <span><%= card.lower_left %></span>
        </div>
        <div class="proof">
          <span class="icon-recommend"></span>
          <span><%= card.lower_right %></span>
        </div>
      </article>
      <footer>
        <div class="pillars">
          <%= card.displayable_pillars.html_safe %>
        </div>
      </footer>
    </div>
  </section>
</div>
