
<section class="global-footer">
  <footer>
    <div class="footer-header"></div>
    <div class="footer-content-wrap">
      <div class="footer-content">
        <div class="logo">
          <%= image_tag 'azul7/logo-footer.svg' %>
        </div>
        <div class="social">
          <ul>
            <li><a href="" title=""><span class="icon-facebook"></a></span></li>
            <li><a href="" title=""><span class="icon-twitter"></span></a></li>
            <li><a href="" title=""><span class="icon-google-plus"></a></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-footer-wrap">
      <div class="footer-footer">
        <ul class="left">
          <li><%= link_to 'FAQ', '#' %></li>
          <li><%= link_to 'Terms of Service', '#' %></li>
          <li><%= link_to 'Privacy Policy', '#' %></li>
        </ul>
        <ul class="right">
          <li>&copy;<%= Time.now.year %> AARP</li>
          <li>All rights reserved.</li>
        </ul>
      </div>
    </div>
  </footer>
</section>
