<div class="cp-pillar-filter">

  <section class="hidden-xs">
    <p>Filter by:</p>
    <ul>
      <li><a href="" title=""><span class="pillar all-options">All</span></a></li>
      <li class="hidden-xs"><span class="divider"></span></li>
      <% Pillar.all.each do |pillar| %>
        <li>
          <%= link_to "?pillar=#{pillar.slug}", class: pillar.slug do %>
            <span class="pillar <%= pillar.slug.tr!('_', '-') %>"><%= pillar.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="visible-xs">
    <div class="btn-group">
      <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span data-bind="label">All Categories</span><span class="chevron-down"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% Pillar.all.each do |pillar| %>
          <li>
            <%= link_to "?pillar=#{pillar.slug}", class: pillar.slug do %>
              <span class="pillar <%= pillar.slug.tr!('_', '-') %>"><%= pillar.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

</div>